[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	ec = config --global -e
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	b = branch
[merge]
	tool = vimdiff
